
// Styles for the dropdown component
.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .card-header {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 12px;
    h2 {
      margin: 0;
      animation: fadeIn 0.5s ease-in-out;
    }
  }

  @keyframes fadeIn {
    0%{
      opacity: 0;
      transform: translateY(-20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card-body {
    padding: 10px 0;
  }

  .form-card {
    .select-option{
      width: 100%;
      padding: 8px;
      border: 1px solid pink;
      border-radius: 12px;
      font-size: 16px;
      height: 40px;
      &:focus {
        outline: none;
        border-color: darken(blue, 10%);
      }
      &.placeholder {
        color: black;
      }
      &.selected {
        height: auto;
        overflow: visible;
      }
      option {
        font-size: 16px;
        height: 40px; 
      }      
    }    
  }
}
